body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  margin: 0 auto;
}

.header-icon {
  font-size: 22px;
  line-height: 24px;
}

.d-flex {
  display: flex;
  align-items: center;
}

.icon {
  border-radius: 50%;
  display: inline-block;
  margin: 0 4px;
  padding: 12px;
  overflow: hidden;
  vertical-align: middle;
  cursor: pointer;
  height: 24px;
  width: 24px;
}

.delete {
  width: 30px;
  padding: 10px;
  border-radius: 50px;
}

.delete:hover {
  background-color: #EFF0F0;
}

.label {
  background-color: #002d75db;
  padding: 10px !important;
  font-size: 14px !important;
  color: #fff;
}

.jc {
  justify-content: space-between;
}

.icon:hover {
  background-color: #EFF0F0;
}

.icon img {
  width: 100%;
}

.ml-118 {
  margin-left: 118px;
}

.side {
  margin-left: 15px;
}

.notes-container {
  padding: 10px;
}

.notes-container span {
  font-size: 20px;
  padding: 10px;
}

.border {

  border: 1px solid #EFF0F0;
}

.header {
  background-color: #ffffff;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.header button {
  float: right;
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
}

.content.expanded {
  margin-left: 0;
}

.header button {
  float: right;
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
}

.sidebar {
  border-top: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  z-index: 900;
  transition: transform 0.3s ease;
  margin-top: 70px;
  /* Adjusted to account for the header */
}

.sidebar.closed {
  transform: translateX(-100%);
}

.sidebar nav {
  margin-top: 50px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  padding: 10px 20px;
}

.sidebar ul li a {
  text-decoration: none;
  color: #333;
}

.content {
  margin-left: 270px;
  padding-top: 70px;
  /* Add padding to make space for fixed header */
  transition: margin-left 0.3s ease;
  background-color: #f3f3f3f5;
}

/* Drop down css  */

/* Reset default styles */
.select-dropdown {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('img/down.svg');
  /* Path to your dropdown icon */
  background-repeat: no-repeat;
  background-position: right center;
  /* Adjust icon position */
  background-size: 20px;
  /* Adjust icon size */
  padding: 10px 20px 10px 10px;
  /* Adjust padding to make space for icon */
  font-size: 16px;
  border: 1px solid #ccc;
  cursor: pointer;
  outline: none;
  width: 90px;
  /* Adjust width as needed */
  padding-right: 30px;
  border-radius: 5px;
}

/* Hover effect */
.select-dropdown:hover {
  border-color: #999;
}

/* Focus effect */
.select-dropdown:focus {
  border-color: #333;
}

.minus {
  width: 30px;
}

.year {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.month {
  width: 30%;
  margin-bottom: 20px;
  padding: 10px;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 10px;
}

.month-name {
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
  background-color: #4285F4;
  color: #fff;
  padding: 10px;
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  margin-bottom: 10px;
}

.day {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  font-size: 12px;
  cursor: pointer;
  border: 1px solid #ccc;

}

.empty {
  border: none !important;
}

.day:hover {
  background-color: #2b78e3ee;
  color: #fff;
}

.green {
  background-color: #34A853 !important;
}

.tooltiptext {
  position: absolute;
  top: 25px;
  color: #fff;
  min-width: 100px;
  width: auto;
  visibility: hidden;
  padding: 20px;
  border-radius: 10px;
  background: #002d75db;
  box-shadow: 5px 5px 9px #ababab,
    -5px -5px 9px #ffffff;
  transition: opacity 0.3s;
}
.d-none{
  display: none !important;
}
.tit {
  position: relative;
  /* display: inline-block; */
  cursor: pointer;
}
.tit:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
  z-index: 100000;
}

.notes-container {
  margin-top: 20px;
}

.controls {
  margin-bottom: 10px;
}

.w-100 {
  width: 100% !important;
}

.h-100 {
  height: 70vh;
}




@media (max-width: 768px) {
  .sidebar {
    width: 200px;
  }
}